<div class="container mt-3">
    <a href="/profile">Back to profile</a> 
    

    <h3 class="mt-3"> Welcome <span class="fw-bold">{{user.first_name}}!</span>  {{#if user.admin}} <span style="color: green">(admin)</span> {{else}} <span style="color: blue"> (user)</span> <button type="button" class="btn btn-secondary" id="seeCart" name="{{this.cart}}">Go to Cart</button>{{/if}}</h3>

    {{#if user.admin}}
    
    <div class="mt-4 mb-3">
        <h4>Add a product</h4>
        <form id="product-form">
            <div class="mb-3">
                <label for="Title" class="form-label">Product title</label>
                <input type="text" class="form-control" id="productTitle" name="title">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="productDescription" name="description">
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input type="number" class="form-control" id="productPrice" name="price">
            </div>
            <div class="mb-3">
                <label for="Code" class="form-label">Code</label>
                <input type="number" class="form-control" id="productCode" name="code">
            </div>
            <div class="mb-3">
                <label for="Stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="productStock" name="stock">
            </div>
            <div class="mb-3">
                <label for="Status" class="form-label">Status disponible</label>
                <select name="status" id="productStatus">
                    <option value="1">Disponible</option>
                    <option value="2">No disponible</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Category" class="form-label">Category</label>
                <input type="text" class="form-control" id="productCategory" name="category">
            </div>
            <button type="submit" class="btn btn-primary">Add product to DB</button>
        </form>
    </div>
    <h4>These are the products on the DB</h4>
    <div class="mt-4" id="productContainerAdmin">
        <ul class="list-group">
        {{#each renderProducts}}
            <li class="list-group-item d-flex mb-3">
                <div>{{this.title}} - {{this.description}} - ${{this.price}} - stock: {{this.stock}} | owner: {{this.owner}}</div> <button type="button" id="{{this.id}}" class="btn btn-outline-success btn-sm ms-auto p-2">Delete product</button>
            </li>
        {{/each}}       
    </div>
        {{#if hasPrevPage}}
        <a href={{prevLink}}>Prev Link</a> 
         {{/if}}
        <h4>{{page}}</h4>
        {{#if hasNextPage}} 
        <a href={{nextLink}}>Next Link</a> 
        {{/if}}
    {{else}}
    <h4>These are our products. </h4>
    <div class="mt-4" id="{{this.cart}}">
        <ul class="list-group" id="userProductList">
        {{#each renderProducts}}
            <li class="list-group-item d-flex mb-3 ">
                <div>{{this.title}} - {{this.description}} - ${{this.price}} - stock: {{this.stock}}</div> 
                {{#if this.userIsOwner}}
                <div class="alert-primary btn-sm ms-auto p-2 " role="alert"> You own this</div>
                {{else}}
                <button type="button" id="{{this.this.id}}" name="{{this.cart}}" class="btn btn-outline-success btn-sm ms-auto p-2"> Add to cart</button>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    </div>
    {{#if hasPrevPage}}
    <a href={{prevLink}}>Prev Link</a> 
    {{/if}}
    <h4>{{page}}</h4>
    {{#if hasNextPage}} 
    <a href={{nextLink}}>Next Link</a> 
    {{/if}}
</div>
{{/if}}